.layersrenderer__block {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
  position: relative;
  padding: 20px 10px 10px 10px;
  color: #111;
  font-size: 12px;
  box-sizing: border-box;
  border: 2px solid #41535B;
  margin: 5px;
  padding: 3px;
}

.layersrenderer__title {
  width: 100%;
  padding: 0 3px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  cursor: default;
}

.layersrenderer__template {
  background-color: #a074c4;
}

.layersrenderer__layout {
  background: #db7b55;
}

.layersrenderer__region {
  background-color: #9fca56;
}

.layersrenderer__part {
  background-color: #e6cd69;
}
